/* Zurich Sans: unico carattere del sito */
@font-face {
    font-family: 'Zurich Sans';
    src: url('/asset/ZurichSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zurich Sans';
    src: url('/asset/ZurichSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
